<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="controller">
<head>
    <title>Bellas Blommor</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Pacifico|Sancreek|Courgette|Fredoka+One|Satisfy' rel='stylesheet' type='text/css'>
    <link href="CSS/Style.css" rel="stylesheet" />
</head>
<body>

    <div id="topBar">Bella's Blommor</div>

    <div id="topLists">
        <div class="listOfItems">

            <h1>Bouqettes</h1>
            
            <div>
                <p>Name</p><!--
                --><p>Description</p><!--
                --><p>Price</p><!--
                --><p></p>
            </div>
            <div ng-repeat="Bouqette in Bouqettes">
                <p>{{Bouqette.Name}}</p><!--
                --><p>{{Bouqette.Descripton}}</p><!--
                --><p>{{Bouqette.Price}}</p><!--
                --><p><button>Delete</button></p>
            </div>

            <button class="createNew">Create New</button>
            
        </div><!--
        --><div class="listOfItems">

            <h1>Delivery People</h1>
            
            <div>
                <p>Name</p><!--
                --><p>PhoneNumber</p><!--
                --><p></p>
            </div>
            <div ng-repeat="DeliveryPerson in DeliveryPersons">
                <p>{{DeliveryPerson.Name}}</p><!--
                --><p>{{DeliveryPerson.PhoneNumber}}</p><!--
                --><p><button>Delete</button></p>
            </div>

            <button class="createNew">Create New</button>
            
        </div>
    </div><!--
    --><div id="bottomLists">
        <div class="listOfItems">

            <h1>Orders</h1>

            <div>
                <p>Address</p><!--
                --><p>Sender</p><!--
                --><p>Receiver</p><!--
                --><p>Message</p><!--
                --><p>Status</p><!--
                --><p>TotalPrice</p><!--
                --><p>Delivery Person</p><!--
                --><p></p><!--
                --><p></p><!--
                --><p></p>
            </div>
            <div ng-repeat="Order in Orders" ng-show="Order.Status == 'Påbörjad' || Order.Status == 'Skapad'">
                <p>{{Order.Address}}</p><!--
                --><p>{{Order.Sender}}</p><!--
                --><p>{{Order.Receiver}}</p><!--
                --><p>{{Order.Message}}</p><!--
                --><p>{{Order.Status}}</p><!--
                --><p>{{Order.TotalPrice}}</p><!--
                --><p>{{Order.DeliveryPerson.Name}}</p><!--
                --><p><button>Delete</button></p><!--
                --><p><button>Assign</button></p><!--
                --><p><button>Done</button></p>
            </div>

            <button class="createNew">Create New</button>

        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../Scripts/Script.js"></script>
</body>
</html>
